<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- <setting name="jdbcTypeForNull" value="NULL" /> -->
	<typeAliases>
		<typeAlias type="com.company.board.domain.BoardVO" alias="board" />
	</typeAliases>
</configuration>